<div class="row">
  <div class="sixteen wide center aligned column">

    <% @bookmarks.each do |bookmark| %>


    <table class="ui post table">
      <tbody>
        <tr class="colhead_dark">
          <td colspan="2">
            <%= link_to "Remove Bookmark", {action: :destroy, id: bookmark}, method: :delete %> -
            <%= link_to "Jump to Topic", topic_path(bookmark.post.topic) %>
          </td>
        </tr>
        <tr>
          <td class="body_col">
            <%= @markdown.render(bookmark.post.body).html_safe %>
          </td>
        </tr>
      </tbody>
    </table>

    <% end %>


  </div>
</div>
