<p>Find me in app/views/forums/index.html.erb</p>
<h1>Forums#index</h1>
<%= link_to "Create Forum", new_forum_path %>

<h3>Forums List</h3>
<% @forums.each do |forum| %>
  <%= forum.name %> <br />
<% end %>
