<div class="twelve wide centered form column">
  <h2 class="arvo"> Statuses > Edit </h2>

  <div class="ui large form">


    <div class="threed" class="ui segment">
      <%= form_for @status do |f| %>
        <div class="field">
          <%= f.select(:value, ['unsanctioned', 'sanctioned', 'moderator', 'banned'])  %>
        </div>
        <div class="actions">
          <%= f.submit id: "contrast", class: "ui fluid large submit button"%>
        </div>
      <% end %>
    </div>


  </div>
</div>
