<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>Edit Topic</h1>
    <%= link_to "Back to Topic", topic_path(@topic) %>
  </div>
</div>
<div class="row">
  <div class="sixteen wide center aligned column">
    <%= link_to "Back to Topic", topic_path(@topic) %> For formatting your posts see the <%= link_to "Wiki", wiki_index_path %>
    <%= render "topics/form" %>
  </div>
</div>
