<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>Edit Topic</h1>
    <%= link_to "Back to Topic", topic_path(@topic) %>
  </div>
</div>
<div class="row">
  <div class="sixteen wide center aligned column">
    <%= render "topics/form" %>
  </div>
</div>
