<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>Topics#edit</h1>
    <p>Find me in app/views/topics/edit.html.erb</p>
  </div>
</div>
<div class="row">
  <div class="sixteen wide center aligned column">
    <%= render "topics/form" %>
  </div>
</div>
