


<div class="row">
  <div class="sixteen wide center aligned column">

    <%= render partial: "search" %>

    <table class="ui striped table">
      <thead>
        <tr>
          <th>
            Subject
          </th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
        <tr>
          <td class="selectable">
            <%= link_to topic.subject, topic_path(topic) %>
            <br />
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
