


<div class="row">
  <div class="sixteen wide center aligned column">

    <%= render partial: "search" %>

    <table class="ui striped table">
      <thead>
        <tr>
          <th>
            Subject
          </th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
        <tr>
          <td>
            <%= link_to_if account_signed_in?, topic.subject, topic_path(topic) %>
            <% if user_signed_in? %>
            <%= link_to_if (current_user.id == topic.user_id), "Edit", edit_forum_topic_path(topic.forum_id, topic) %>
            <%= link_to_if (current_user.id == topic.user_id), "Delete", { action: "destroy", id: topic.id}, method: :delete  %>
            <% end %>
            <br />
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
