<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>New Topic</h1>
  </div>
</div>

<div class="row">
  <div class="sixteen wide center aligned column">
    <%= render "topics/form" %>
  </div>
</div>
