<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>New Topic</h1>
  </div>
</div>

<div class="row">
  <div class="sixteen wide center aligned column">

    For formatting your posts see the <%= link_to "Wiki", wiki_index_path %>

    <%= render "topics/form" %>
  </div>
</div>
