<div class="ui borderless menu" id="computer">
  <div class="ui item" id="sidebar_acct">
    <span class="large font">Account</span>
  </div>

  <div class="right menu">
    <div class="ui item">
      <%= link_to "Forums", forums_path, class: "large font" %>
    </div>

    <div class="ui item">
      <%= link_to "Search", topics_path, class: "large font" %>
    </div>

    <div class="ui item">
      <%= link_to "Wiki", wiki_index_path, class: "large font" %>
    </div>
  </div>


</div>
