<div class="ui borderless menu" id="mobile">
  <div class="ui item" id="sidebar_usr">
    <i class="large user icon"></i>
  </div>

  <div class="right menu">
    <div class="ui item" id="sidebar_sidebar">
      <i class="large sidebar icon"></i>
    </div>
  </div>
</div>
