<div class="ui borderless menu" id="tablet">
  <div class="ui item" id="sidebar_usr_tab">
    <i class="big user icon"></i>
  </div>

  <div class="right menu">
    <div class="ui item" id="sidebar_sidebar_tab">
      <i class="big sidebar icon"></i>
    </div>
  </div>
</div>
