<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>Avatars#edit</h1><br />

    <p>
      Current:<br />
      <img src=" <%=@avatar.image.url %> ">
    </p>


  </div>
</div>

<div class="row">
  <div class="sixteen wide center aligned column">
    <%= render "avatars/form" %>    
  </div>
</div>
