<div class="row">
  <div class="sixteen wide center aligned column">
    <%= instance_error_messages!(@avatar) %>

    <p>
      current:<br />
      <img src=" <%=@avatar.image.url %> ">
    </p>


  </div>
</div>

<div class="row">
  <div class="sixteen wide center aligned column">
    <%= render "avatars/form" %>
  </div>
</div>
