<div class="row">
  <div class="sixteen wide center aligned column">
    <h1>New Post</h1>

    <%= link_to "Back to Topic", topic_path(@topic) %> For formatting your posts see the <%= link_to "Wiki", wiki_index_path %>

    <%= render "posts/form" %>
  </div>
</div>
