/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic
 *= require_tree .
 *= require_self
 */
@import "*";

@font-face {
  font-family: 'ArvoRegular';
  src:font-url('arvo/Arvo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ArvoBold';
  src: font-url('arvo/Arvo-Bold.ttf') format('truetype');
}

a {
  color: black;
}

a:hover {
  color: rgba(128, 128, 128, 0.95);
}

/// ---  mobile portrait ---- ////
@media (max-width: 450px) {
  .logo {
    margin-top: 0.8em;
    font-size: 23px;
    margin-left: 44%;
    color: black;
    position: absolute;
  }
}

/// ---  mobile landscape ---- ////
@media (min-width: 451px) and (max-width: 533px) {
  .logo {
    margin-top: 0.8em;
    font-size: 24px;
    margin-left: 45%;
    color: black;
    position: absolute;
  }
}

/// --- mobile landscape cont'ed ---- ////
@media (min-width: 534px) and (max-width: 634px) {
  .logo {
    margin-top: 0.8em;
    font-size: 24px;
    margin-left: 45.7%;
    color: black;
    position: absolute;
  }
}

@media (min-width: 634px) and (max-width: 767px) {
  .logo {
    margin-top: 0.8em;
    font-size: 24px;
    margin-left: 46.3%;
    color: black;
    position: absolute;
  }
}

/// --- Mobile ---- ////
@media (max-width: 767px) {
  h2 {
    font-size: 1em;
  }

  .ui.large.form {
    font-size: 0.9em;
  }

  #contrast {
    font-size: 0.9em;
  }

  .ui.menu a.item {
    font-size: 1.4em;
  }

  .ui.segment {
    line-height: 1.2em;
  }

  label[for="user_remember_me"] {
    font-size: 0.8em;
  }

  .ui.large.table {
    font-size: 0.8em;
  }

  .black.menu {
    display: none !important;
  }

  #tablet {
    display: none !important;
  }

  #computer {
    display: none !important;
  }
}

/// --- Tablet Portrait ---- ////
@media (max-width: 950px) and (min-width: 768px) {
  #mobile {
    display: none !important;
  }

  #computer {
    display: none !important;
  }

  .logo {
    margin-top: 1.4em;
    font-size: 30px;
    margin-left: 46.4%;
    color: black;
    position: absolute;
  }
}

/// --- Tablet Larger ---- ////
@media (max-width: 991px) and (min-width: 950px) {

  .logo {
    margin-top: 1.5em;
    font-size: 30px;
    margin-left: 47%;
    color: black;
    position: absolute;
  }
}

/// --- Tablet All ---- ////
@media (min-width: 768px) and (max-width: 991px) {
  #mobile {
    display: none !important;
  }

  #computer {
    display: none !important;
  }
}

/// --- Computer Small ---- ////
@media (min-width: 992px) and (max-width: 1179px) {
  .logo {
    margin-top: 1.4em;
    font-size: 30px;
    margin-left: 47.3%;
    color: black;
    position: absolute;
  }
}

/// --- Computer Small ---- ////
@media (min-width: 1180px) and (max-width: 1500px) {
  .logo {
    margin-top: 1.4em;
    font-size: 30px;
    margin-left: 47.8%;
    color: black;
    position: absolute;
  }
}

/// --- Computer Larger ---- ////
@media (min-width: 1501px) {
  .logo {
    margin-top: 1.4em;
    font-size: 30px;
    margin-left: 48.2%;
    color: black;
    position: absolute;
  }
}

/// --- Computer --- ////
@media (min-width: 992px) {
  #mobile {
    display: none !important;
  }

  #tablet {
    display: none !important;
  }
}

body {
  font-family: ArvoRegular;
  // background: #fffff0;
  // background: #251a0d;
  // brown
  // background: rgba(37, 26, 13, 0.56);
  // green
  // background: rgba(12, 127, 11, 0.67);
  // youtube grey
  // background: #f1f1f1;
}

span#red {
  color: rgba(255, 0, 0, 0.8);
}
