/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

@font-face {
  font-family: 'ArvoRegular';
  src:font-url('arvo/Arvo-Regular.ttf') format('truetype');
}

a {
  color: black;
}

body {
  font-family: ArvoRegular;
  // background: #fffff0;
  // background: #251a0d;
  // brown
  // background: rgba(37, 26, 13, 0.56);
  // green
  // background: rgba(12, 127, 11, 0.67);
  // youtube grey
  // background: #f1f1f1;
}

.opaque {
  opacity: 0.98;
}

.ui.menu {
  background-color: rgba(128, 128, 128, 0.05);
}

.ui.menu a.item:hover {
  background-color: rgba(0, 0, 0, 0.85);
  // color: rgba(255, 255, 255, 0.9);
  color: rgba(128, 128, 128, 0.95);;
}
