

/// --- Mobile ---- ////
@media (max-width: 767px) {
  #fixed_height {
    height: 80px;
    margin-top: 2em;
  }
}

/// --- Tablet ---- ////
@media (max-width: 991px) and (min-width: 768px) {
  #fixed_height {
    height: 95px;
    margin-top: 2.5em;
  }
}

/// --- Computer --- ////
@media (min-width: 992px) {
  #fixed_height {
    height: 95px;
    margin-top: 3em;
  }
}
