.invalid {
  background-color: #fff6f6;;
}

.red {
  color: #9f3a38;
}

p.red {
  margin: 1em 0em 0em 0em;
}

.hidden {
  opacity: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.signup.column {
  max-width: 450px;
}

.dull.gold.color {
  color: #dd9922;
}

.gold.color {
  color: #ffbb00;
}

.saiyan.brown.color {
  color: #996633;
}

.ui.fluid.large.signup.submit.button {
  background-color: #ffbb00;
  color: white;
}

.ui.fluid.large.signup.submit.button:hover {
  background-color: #dd9922;
}
