.invalid {
  background-color: #fff6f6;;
}

.red {
  color: #9f3a38;
}

p.red {
  margin: 1em 0em 0em 0em;
}

.hidden {
  opacity: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}
