.invalid {
  background-color: #fff6f6;;
}

.red {
  color: #9f3a38;
}

p.red {
  margin: 1em 0em 0em 0em;
}

.hidden {
  opacity: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.dull.gold.color {
  color: #dd9922;
}

.gold.color {
  color: #ffbb00;
}

.saiyan.brown.color {
  color: #996633;
}

#contrast {
  background-color: white;
  color: black;
  border-radius: 0px;
  border-style: solid;
  border-color: black;
  input {
    border-radius: 0px;
  }
}

#contrast:hover {
  background-color: black;
  color: white;
  a {
    color: white;
  }

  input {
    color: black;
  }
}

input[type="email"] {
  background-color: black;
  // background-image: url(public/icon_email.png);
}

input#borderless {
  // font-size: 12pt;
}

#threed {
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
}

#threed:hover {
  box-shadow: 1px -1px 0px rgb(166, 166, 166),
              2px -2px 0px rgb(166, 166, 166),
              3px -3px 0px rgb(166, 166, 166),
              4px -4px 0px rgb(166, 166, 166),
              5px -5px 0px rgb(166, 166, 166),
              6px -6px 0px rgb(166, 166, 166);
}

.arvo {
  font-family: ArvoRegular;
}

#borderless {
  border-color: white;
  border-radius: 0px;
  box-shadow: 0em 0em 0em 0em white;
}

.form.column {
  max-width: 422px;
  margin: auto;
}

.ui.grid .centered.row > .column:not(.aligned) {
    text-align: center;
}

#rememberable {
  text-align: left;
}

/// --- Mobile ---- ////
@media (max-width: 767px) {
  input#contrast {
    font-size: 1em;
  }

  input[name='search'].ui.input {
    max-width: 150px;
    transition: max-width 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  input[name='search'].ui.input:focus {
    max-width: 160px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  input[name='search'].ui.input {
    max-width: 150px;
    transition: max-width 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  input[name='search'].ui.input:focus {
    max-width: 300px;
  }
}

/// --- Computer --- ////
@media (min-width: 992px) {
  input[name='search'].ui.input {
    max-width: 150px;
    transition: max-width 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  input[name='search'].ui.input:focus {
    max-width: 300px;
  }
}


th {
  color: white
}

#search_form {
  margin: auto;
}
