// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#topics_table {
  margin-top: 3em;
}

/// --- Mobile ---- ////
@media (max-width: 767px) {
  #forum_head {
    text-align: center;
  }

  table.ui.table {
    margin-top: 0em;
  }

  #replies {
    text-align: right;
  }

  #subject {
    font-size: 18px;
    padding: 0px 0px 0px 0px;
  }

  #has_read {
    text-align: center;
  }

  #status {
    text-align: left;
  }
}

thead:first-child {
  background-color: rgba(0, 0, 0, 0.85);
}

/// --- Tablet ---- ////
@media (max-width: 991px) and (min-width: 768px) {
  #forum_head {
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 4px;
    color: white;
  }

  #head_link {
    word-spacing: 2px;
    color: white;
    letter-spacing: 2px;
    font-size: 9px;
  }

  table.ui.table {
    margin-top: 0.5em;
  }

  #replies {
    text-align: center;
  }

  #created_by {
    text-align: center;
  }

  #has_read {
    text-align: center;
  }

  #status {
    text-align: center;
  }

  thead tr {

  }
}



/// --- Computer --- ////
@media (min-width: 992px) {
  #forum_head {
    text-align: center;
    color: white;
    letter-spacing: 7px;
    word-spacing: 13px;
  }

  #head_link {
    word-spacing: 2px;
    color: white;
    letter-spacing: 2px;
    font-size: 9px;
  }

  #header_name {
    font-size: 20px;
    letter-spacing: 13px;
    word-spacing: 7px;
  }

  #replies {
    text-align: center;
  }

  #created_by {
    text-align: center;
  }

  #has_read {
    text-align: center;
  }

  #status {
    text-align: center;
  }
}
thead:first-child th {
}

.ui.table thead th{
  background-color: rgba(0, 0, 0, 0.55);
}
.ui.table thead th {
  color: rgba(128, 128, 128, 0.95);
}
