.flash.ui.message {
  position: absolute;
  left: 25%;
  right: 25%;
  text-align: center;
  top: 0;
  z-index: 10;
}

.ui.stackable.menu {
  min-height: 40px;
  font-size: 20px;
  margin-top: 0rem;
}

.opaque {
  opacity: 0.98;
}
