.flash.ui.message {
  text-align: center;
  border-radius: 0rem;
  margin: 0em 0em 0em;
}

.ui.menu {
  background-color: rgba(128, 128, 128, 0.05);
  border-radius: 0em;
}

.ui.menu > .item:first-child {
  border-radius: 0em;
}

.ui.menu a.item {
  font-size: 20px;
  border-radius: 0em;
}

.ui.simple.dropdown.item:hover {
  background: rgba(0, 0, 0, 0.85);
  color: rgba(128, 128, 128, 0.95);
}

.ui.menu a.item:active {
  background-color: rgba(0, 0, 0, 0.85);
  // color: rgba(255, 255, 255, 0.9);
  color: rgba(128, 128, 128, 0.95);
}

.ui.menu a.item:focus {
  background-color: rgba(0, 0, 0, 0.85);
  // color: rgba(255, 255, 255, 0.9);
  color: rgba(128, 128, 128, 0.95);
}

.opaque {
  opacity: 0.98;
}

.ui.menu a.item:hover {
  background: rgba(0, 0, 0, 0.85);
  color: rgba(128, 128, 128, 0.95);
}

.ui.menu .ui.dropdown .menu > .item {
  padding: 0rem 0rem !important;
}

.ui.menu {
  margin: 0em 0em 1em 0em;
}

.black.menu {
  background-color: black;
  padding: 0.3em;
}

.black.menu a {
  color: white;
  padding-left: 16px;
}

.large.font {
  font-size: 20px;
}

.ui.menu .dropdown.item .menu  {
  border-radius: 0em;
}

a.item {
  line-height: 1;
}
