// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tr.colhead_dark {
  background: url("http://i.imgur.com/oWbQCzc.png?1") repeat scroll 0 0 rgb(27,27,29)!important;
  background-color: rgba(0, 0, 0, 0.76) !important;
  border-color: rgba(255,255,255,0.04) rgba(255,255,255,0.03) rgba(255,255,255,0.01)!important;
  color: #bec2c9;
  border-bottom: 1px solid rgba(255,255,255,0.03)!important;
  border-left: 1px solid rgba(255,255,255,0.03)!important;
  border-right: 1px solid rgba(255,255,255,0.03)!important;
}

.ui.table:not(.unstackable) tr {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

td.avi_col {
  background: url("http://i.imgur.com/oWbQCzc.png?1") repeat scroll 0 0 rgb(27,27,29)!important;
  background-color: #111111!important;
  box-shadow: 0 5px 12px rgba(0,0,0,0.5)!important;
}

td.body_col {
  width: 100%;
  vertical-align: top;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5), 0px -2px 5px rgba(0,0,0,0.2) !important;
  color: #bec2c9;
  background: url('http://i.imgur.com/9m7JciK.png?1') top center;
}

table.ui.post.table {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #aeaeae;
  border-radius: 0em;
  margin-top: 0em;
}

table.ui.post.table tbody tr.second {
  padding: 0px 0px 0px 0px;
}

/// --- Mobile ---- ////
@media (max-width: 767px) {
  td.avi_col {
  }
}

/// --- Tablet --- ////
@media (max-width: 991px) and (min-width: 768px) {
  td.avi_col {
    min-height: 106px
  }
}

/// --- Computer --- ////
@media (min-width: 992px) {
  td.body_col {
    padding-top: 15px;
  }

  td.avi_col {
    min-height: 120px
  }
}


.top_sub_head {
  word-spacing: 5px;
 letter-spacing: 1px;
 border-bottom: 1px solid rgba(255,255,255,0.03)!important;
 border-left: 1px solid rgba(255,255,255,0.03)!important;
 border-right: 1px solid rgba(255,255,255,0.03)!important;
 text-align: center;
 box-shadow: 0 5px 12px rgba(0,0,0,0.5)!important;
 background: url("http://i.imgur.com/oWbQCzc.png?1") repeat scroll 0 0 rgb(27,27,29)!important;
 background-color: rgba(0, 0, 0, 0.76) !important;
}

#head_col {
  padding: 0px 0px 0px 0px;
}

.ui.table:not(.unstackable) tr > td {
  background: url("http://i.imgur.com/oWbQCzc.png?1") repeat scroll 0 0 rgb(27,27,29)!important;
}

thead.top_tab > tr {
  background: url("http://i.imgur.com/oWbQCzc.png?1");
}

.ui.table#topics_indx_table tbody tr td.selectable:hover {
  background: url("http://i.imgur.com/oWbQCzc.png?1") !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.ui.table#topics_indx_table tbody tr {
  color: #bec2c9;
}

.top_sub_head a {
  color: #bec2c9 !important;
}
